* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    place-content: center;
    justify-items: center;
    
}

.button {
    height: 75px;
    width: 300px;
    color: black;
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid black;
    cursor: pointer;
}

.button:hover {
        background-color: black;
        color: white;
}

