* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  place-content: center;
  justify-items: center;
}

.easybuttons_container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  border: 2px solid salmon;
  padding: 20px;
}

.button {
  height: 75px;
  width: 100%;
  color: black;
  background-color: white;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  border: 3px solid black;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}

#button1 {
  background-color: white;
  color: black;
  border-radius: 40px;
  letter-spacing: 4px;
}

#button1:hover {
  background-color: black;
  color: white;
}

#button2 {
  background-color: black;
  color: white;
  border-radius: 15px;
}

#button2:hover {
  background-color: white;
  color: black;
}

#button3 {
  background-color: blue;
  padding: 10px 15px;
  border-radius: 25px;
  width: auto;
  height: auto;
  color: white;
  font-weight: bold;
  font-size: small;
  border: 1px solid blue;
}

#button3:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
}

#button4 {
  border: none;
  background-color: blue;
  width: 200px;
  color: white;
  border-radius: 15px;
  align-items: center;
}

#button4 span {
  font-size: 20px;
}

#button4:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
}

#button5 {
  border: none;
  background-color: white;
  width: 200px;
  color: black;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#button5:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

#button6 {
  border: none;
  background: rgb(131, 58, 180);
  background: linear-gradient(166deg, rgb(131, 58, 180) 0%, rgb(204, 79, 196) 45%);
  color: white;
  font-size: 20px;
  border-radius: 15px;
  align-items: center;
  width: 200px;
}

#button6:hover {
  border: none;
  color: black;
  background: rgb(237, 207, 234);
}

.mediumbuttons_container {
  margin-top: 30px;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  border: 2px solid salmon;
  padding: 20px;
}

#mdbutton1 {
  color: white;
  background-color: black;
  border-radius: 15px;
  font-size: 22px;
  width: 200px;
  height: 80px;
  border: 5px solid #FE3B99;
}

#mdbutton1:hover {
  background: rgb(254, 59, 153);
  background: linear-gradient(155deg, rgb(254, 59, 153) 0%, rgba(250, 135, 126, 0.9962578782) 43%);
}

#mdbutton2 {
  color: blue;
  background-color: white;
  border-radius: 45px;
  font-size: 22px;
  width: 200px;
  height: 80px;
  border: 5px solid blue;
  position: relative;
  overflow: hidden;
  background-size: 100% 200%;
  background-position: 0% 100%;
}

#mdbutton2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#mdbutton2:hover {
  background-position: 50% 50%;
  color: white;
  transition: background-position 0.3s ease;
  background-image: linear-gradient(to bottom, white 50%, blue 50%);
}

#mdbutton2:hover span {
  display: contents;
  color: white;
}

#mdbutton3 {
  color: black;
  background: white;
  border-radius: 15px;
  box-shadow: 10px 10px 0px -3px black;
  font-size: 22px;
  width: 200px;
  height: 80px;
  border: 4px solid black;
  transition: background 0.5s ease;
}

#mdbutton3:hover {
  background-color: black;
  transition: background 0.4s ease-in;
  color: white;
  box-shadow: none;
}

#mdbutton4 {
  color: #8E37DA;
  background-color: white;
  box-shadow: 10px 10px 0px -3px #8E37DA;
  border-radius: 15px;
  font-size: 22px;
  width: 200px;
  height: 80px;
  border: none;
}

#mdbutton4:hover {
  background: #8E37DA;
  color: white;
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
